<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">
    </head>

<body>
    <div class="container">
                <div class="row py-2">
            <div class="col-md">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand">Navbar</a>
                        <form class="d-flex">
                            <input id="txt-search" class="form-control me-2" type="search" placeholder="Search"
                                aria-label="Search">
                            <button id="btn-search" class="btn btn-outline-success" type="button">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        {{{body}}}
        <div class="row py-2">
            <div class="col-md">
                <div class="border">
                    bottom
                </div>
            </div>
        </div>

    </div>

    <script src="./javascripts/jquery-3.6.0.min.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
    <script src="./javascripts/script1.js"></script>

</body>
</html>


