#modal-insert > .modal-dialog{
    max-width: none;
    max-height: none;
}

#modal-update > .modal-dialog{
    max-width: none;
    max-height: none;
}

#modal-settings > .modal-dialog{
    max-width: none;
    max-height: none;
}

.modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

#modal-delete .modal-dialog {
    left: 0;
    right: 0;
    margin-top: auto;
    top: 50%;
    transform: translateY(-50%);
}
