<div id='main-container' class="container-fluid">
    <div class="row">
        <div class="col col-field">
            <form action="/signup" method="post">

                <h2 class="title-1">
                    Sign up
                </h2>
                <h2 class="caption-1">
                    Sign up and start with us
                </h2>

                <div class="input-group line-field shadow">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src="/images/username.png" class="icon-input" />
                    </span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" name="username">
                </div>
                <div class="input-group line-field shadow">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src="/images/password.png" class="icon-input" />
                    </span>

                    <input type="text" class="form-control" placeholder="Password" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" name="password">

                </div>
                <div class="input-group line-field shadow">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src="/images/mobilephone.png" class="icon-input" />
                    </span>

                    <input type="text" class="form-control" placeholder="Email"
                        aria-label="Recipient's username" aria-describedby="basic-addon2" name="email">

                </div>
                <div class="input-group line-field shadow">
                    <span class="input-group-text" id="addon-wrapping">
                        <img src="/images/mobilephone.png" class="icon-input" />
                    </span>

                    <input type="text" class="form-control" placeholder="Name" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" name="name">
                </div>
                
                <p style="color: red;">{{msg}}</p>


                <button type="submits" class="btn btn-primary line-field shadow">Sign up</button>
            </form>
        </div>
        <div class="col col-signin">

            <p>Sign up with</p>

            <div type="button" class="btn btn-signin-with color-facebook shadow">
                <img src="/images/signin-facebook.png" />
                <p>Sign Up with Facebook</p>
            </div>
            <div type="button" class="btn btn-signin-with color-apple shadow">
                <img src="/images/signin-apple.png" />
                <p>Sign Up with Apple</p>
            </div>
            <div type="button" class="btn btn-signin-with color-google shadow">
                <img src="/images/signin-google.png" />
                <p> Sign Up with Google </p>
            </div>

        </div>
    </div>
</div>