{{> navbar}}


<h1 id="title">hhh</h1>
<h1 id="imdbID" style="opacity: 0;">{{id}}</h1>

<div class="row">
  <div class="col">
    <img id="Poster" class="loading" >
  </div>
  <div class="col">
    <div class="row">
      <h2>Plot</h2>
      <p id="plot"></p>
    </div>
    <div class="row">
      <h2>Stars</h2>
      <ul id="Actors">
        <li></li>

      </ul>
    </div>
    <div class="row">
      <h2>Writer</h2>
      <p id="Writer">
      </p>
    </div>
    <div class="row">
      <h2>Released</h2>
      <p id="Released">
      </p>
    </div>
  </div>
</div>



</button>

<div class="row">
<h2>Related Projects</h2>
<div class="row">
  <div class="col">
    <img class="item-img" src="/img/bread1.jpg">

  </div>
  <div class="col">
    <img class="item-img" src="/img/bread1.jpg">

  </div>
  <div class="col">
    <img class="item-img" src="/img/bread1.jpg">

  </div>
  <div class="col">
    <img class="item-img" src="/img/bread1.jpg">

  </div>
</div>

</div>






{{> footer}}