<link rel="stylesheet" href="/css/footer.css"> 
<div class="b-example-divider"></div>

<div id="footer-container" class="container">
  <div class="row">
    <div class="col-md">
      <div class="border bg-secondary">
        bottom
      </div>
    </div>
  </div>
</div>

