/* CSS Document */
/* 
Ho va ten   : Đặng Văn Hiển
MSSV        : 18120363
*/
body  {
    margin: 0px;
}
.navbar {
    display: flex;
    background: #4b99a9;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    height: 54px;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-item>a {
    font-size: 1rem;
    text-decoration: none;
    color: #f4f2b8;
    font-weight: bold;
}
.nav-item{
    border-radius: 5px;
    border: solid;
    border-color: #ecaa68 ;
    margin: 3px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;

}

.banner{
    background-image: url("../images/banner.jpg");
    margin-top: 54px;
    height: 96px;
}   

.big-title{
    margin-top: -20px;
    font-size: 40px;
    background-color: #ecaa68;
    width: 400px;
    border-radius: 5px; 
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns: 1fr 300px;
    margin-left: 10px;
}

.content-secction{
    grid-column: 1;
}
.list-a a{
    font-weight: bold;
}

.sidebar-secction{
    grid-column: 2;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;


}
.sidebar-secction ul{
    list-style-type: none;

}
.sidebar-secction li{
    margin-bottom: 20px;
    color: #4b99a9;
    text-decoration: none;


}
.sidebar-secction a{
    text-decoration: none;
}

h1{
    border-radius: 5px;
    margin-top: 30 px;
    margin-bottom: 24px;
    padding: 5px;
    border-width: 2px;
    border-left: solid;
    border-top: solid;

    border-color: #ecaa68 ;
    
}

footer{
    text-align:  center;
    background-color: #4b99a9  ;
    height: 50px;
}
footer>p{
    padding-top: 15px ;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: #f4f2b8 ;


}



