body {
  background: linear-gradient(to right, #e6aec7, #0298ff);
}

.title1 {
  font-size: 3.5em;
  font-weight: 1000;
  letter-spacing: 0.6em;
  text-align: center;
  color: #4e5676;
}

.btnContainer {
  margin-top: 5em;
  margin-bottom: 3em;
  text-align: center;
}

.title2 {
  font-size: 2em;
  letter-spacing: 0.3em;
  text-align: center;
  color: #4e5676;
}
